.bg-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
  background-color: #db0840;
  color: #fff;
  position: absolute;
  z-index: 4;
}
